{% extends 'base.html' %}
{% load match_filter %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">매칭등록</h5>
    <div class="row">
    <form method="post">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" name="title" id="title"
                   value="{{ form.title.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="sports_name" class="form-label">스포츠명</label>
            <input type="text" class="form-control" name="sports_name" id="sports_name"
                   value="{{ form.sports_name.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">주소</label>
            <div class="container ps-0">
                <div class="row">
                  <div class="col-5">
                    <input
                  type="text"
                  class="form-control m-input m--margin-top-10"
                  name="address"
                  id="address"
                  value="{{ form.address.value|default_if_none:'' }}"
                    />
                  </div>
                  <div class="col-2 postcode-btn">
                    <button type="button" class="btn btn-success m-btn--air" onclick="execDaumPostcode()">주소 검색</button>
                  </div>
                  
                </div>
            </div>
        </div>
        <div class="col-2 mb-3">
            <label for="sports_date" class="form-label">일정</label>
            <input type="date" class="form-control" name="sports_date" id="sports_date"
                   value="{{ form.sports_date.value|default_if_none:'' }}">
        </div>
        <div class="col-2 mb-3">
            <label for="max_apply" class="form-label">인원 (🚩limit: 1-20)</label>
            <input type="number" class="form-control" name="max_apply" id="max_apply"
                   min="1" max="20"
                   value="{{ form.max_apply.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
  var now_utc = Date.now()
  var timeOff = new Date().getTimezoneOffset()*60000; 
  var today = new Date(now_utc-timeOff).toISOString().split("T")[0];
  document.getElementById("sports_date").setAttribute("min", today);
  document.getElementById("sports_date").value = today;
</script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js?autoload=false"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    var width = 500; //팝업의 너비
    var height = 500; //팝업의 높이

    function execDaumPostcode() {
        new daum.Postcode({
            width: width, //생성자에 크기 값을 명시적으로 지정
            height: height,

            oncomplete: function(data) {

                var addr = ''; // 주소 변수

                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                document.getElementById("address").value = addr;
            }
        }).open({
                autoClose: true,
                left: (window.screen.width / 2) - (width / 2),
                top: (window.screen.height / 2) - (height / 2),
            });
    }
</script>
{% endblock %}