@import "reset.css";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", sans-serif, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif !important;
  font-weight: 400;
  scroll-behavior: smooth !important;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #d9d9d9;
}

.smp {
  font-size: 1.5rem;
  font-weight: 700;
  color: blue;
}

.menu {
  margin-left: auto;
  margin-right: 1.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}

.menuBox {
  display: flex;
  flex-flow: row nowrap;
}

.menuBox a {
  margin-left: 1rem;
}

.qs {
  color: #000000;
}
