@import "reset.css";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", sans-serif, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif !important;
  font-weight: 400;
  scroll-behavior: smooth !important;
}

.navbar-bg-custom {
  padding: 0;
  background-color: #d9d9d9;
}

.navbar-nav > li > a {
  padding: 0 1rem;
  color: #000000;
  font-size: 1.3rem;
  font-weight: 700;
}

.navbar .container-fluid {
  height: 100px;
}

.navbar-brand > img {
  width: 100px;
  height: auto;
}
