{% extends "base.html" %}
{% block content %}
<section class="vh-100">
    <div class="container py-5 h-300">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-12 col-lg-12 col-xl-12 text-center login-header mb-5">
          <h1 class="fw-bold text-decoration">
            <a href="javascript:history.back()">
              새로운 비밀번호 설정
            </a>
          </h1>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 border border-2 sign-form rounded-3">
            <form action="" method="post" novalidate>
            {% csrf_token %}
            
            <div class="mb-3">
                <div class="row">
                    <div class="col-4 d-flex align-items-center pe-0">
                        <label class="text-warning fw-bold"  name="label_new_password1" for="{{ form.new_password1.id_for_label }}">
                            * {{ form.new_password1.label }}
                        </label>
                    </div>
                    <div class="col ps-0">
                        {{ form.new_password1 }}
                        <script type="text/javascript">
                            if (document.getElementsByName('new_password1')[0].value != '') {
                                document.getElementsByName('label_new_password1')[0].setAttribute('class', 'active');
                            }
                        </script>
                        {% if form.new_password1.errors %}
                        <script type="text/javascript">
                            document.getElementsByName('new_password1')[0].setAttribute('class', 'form-control is-invalid')
                        </script>
                        {% for error in form.new_password1.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="mb-2">
                <div class="row">
                    <div class="col-4 d-flex align-items-center pe-0">
                        <label class="text-warning fw-bold" name="label_new_password2" for="{{ form.new_password2.id_for_label }}">
                            * {{ form.new_password2.label }}
                        </label>
                    </div>
                    <div class="col ps-0">
                        {{ form.new_password2 }}
                        <script type="text/javascript">
                            if (document.getElementsByName('new_password2')[0].value != '') {
                                document.getElementsByName('label_new_password2')[0].setAttribute('class',
                                    'active');
                            }
                        </script>
                        {% if form.new_password2.errors %}
                        <script type="text/javascript">
                            document.getElementsByName('new_password2')[0].setAttribute('class',
                                'form-control is-invalid')
                        </script>
                        {% for error in form.new_password2.errors %}
                        <div style="white-space: nowrap;" class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %} 
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col-4 d-flex align-items-center pe-0">
                    </div>
                    <div class="col ps-0">
                        <span>최소 8개의 숫자와 문자를 입력해주세요.</span>
                    </div>
                    
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-4"></div>
                <div class="col-4 d-flex justify-content-center">
                    <button type="submit" class="btn px-4 login-btn text-white fs-4">설정하기</button>
                </div>
                <div class="col-4"></div>
            </div>
            
  
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}