{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bootstrap.min.css' %}"
    />
    <!-- custom CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <!-- font Nanum gothic -->
    <head>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;400;500;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    </head>
    <title>스투파</title>
  </head>
  <body>
    <section class="vh-100">
        <div class="container py-5 h-300">
          <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-12 col-lg-12 col-xl-12 text-center login-header mb-5">
              <h1 class="fw-bold text-decoration">
                <a href="{% url 'index' %}">
                  SPORT TO PARTNER 회원가입
                </a>
              </h1>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 border border-2 sign-form rounded-3">
                <form method="post" action="{% url 'common:signup' %}">
                {% csrf_token %}
                {% include "form_errors.html" %}
      
                <div class="mb-3">
                    <div class="row">
                        <div class="col-1 d-flex justify-content-center align-items-center pe-0">
                            <span class="text-danger fw-bold">*</span>
                        </div>
                        <div class="col ps-0">
                            <input type="text" class="form-control sign-form-input" name="username" id="username"
                           placeholder="아이디"
                           value="{{ form.username.value|default_if_none:'' }}">
                        </div>
                    </div>
                    
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-1 d-flex justify-content-center align-items-center pe-0">
                            <span class="text-danger fw-bold">*</span>
                        </div>
                        <div class="col ps-0">
                            <input type="password" class="form-control sign-form-input" name="password1" id="password1"
                           placeholder="비밀번호"
                           value="{{ form.password1.value|default_if_none:'' }}">
                        </div>
                    </div>
                    
                </div>
                
                <div class="mb-2">
                    <div class="row">
                        <div class="col-1 d-flex justify-content-center align-items-center pe-0">
                            <span class="text-danger fw-bold">*</span>
                        </div>
                        <div class="col ps-0">
                        
                        <input type="password" class="form-control sign-form-input" name="password2" id="password2"
                           placeholder="비밀번호 확인"
                           value="{{ form.password2.value|default_if_none:'' }}">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-1 d-flex justify-content-center align-items-center pe-0">
                            
                        </div>
                        <div class="col ps-0">
                        <span class="d-block sign-form-input">※ 영문 8자 이상 입력</span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-1 d-flex justify-content-center align-items-center pe-0">
                            <span class="text-danger fw-bold">*</span>
                        </div>
                        <div class="col ps-0">
                            <input type="text" class="form-control sign-form-input" name="nickname" id="nickname"
                           placeholder="닉네임"
                           value="{{ form.nickname.value|default_if_none:'' }}">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-1 d-flex justify-content-center align-items-center pe-0">
                            <span class="text-danger fw-bold">*</span>
                        </div>
                        <div class="col ps-0">
                            <input type="email" class="form-control sign-form-input" name="email" id="email"
                           placeholder="이메일 주소"
                           value="{{ form.email.value|default_if_none:'' }}">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-1 d-flex justify-content-center align-items-center pe-0">
                            <span class="text-danger fw-bold">*</span>
                        </div>
                        <div class="col ps-0">
                            <input type="text" class="form-control sign-form-input" name="phonenumber" id="phonenumber"
                           placeholder="연락처"
                           value="{{ form.phonenumber.value|default_if_none:'' }}">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-1 d-flex justify-content-center align-items-center pe-0">
                        </div>
                        <div class="col ps-0">
                            <input type="text" class="form-control sign-form-input" name="address" id="address"
                           placeholder="주소"
                           value="{{ form.address.value|default_if_none:'' }}">
                        </div>
                    </div>
                    
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-1 d-flex justify-content-center align-items-center pe-0">
                        </div>
                        <div class="col ps-0">
                            <input type="text" class="form-control sign-form-input" name="favorite" id="favorite"
                           placeholder="선호운동"
                           value="{{ form.favorite.value|default_if_none:'' }}">
                        </div>
                    </div>
                    
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-1 d-flex justify-content-center align-items-center pe-0">
                        </div>
                        <div class="col ps-0">
                            <input type="text" class="form-control sign-form-input" name="introduction" id="introduction"
                           placeholder="한 줄 자기소개"
                           value="{{ form.introduction.value|default_if_none:'' }}">
                        </div>
                    </div>
                    
                </div>

                <div class="row pt-3">
                    <div class="col-4"></div>
                    <div class="col-4 d-flex justify-content-center">
                        <button type="submit" class="btn px-4 login-btn text-white fs-3">회원가입</button>
                    </div>
                    <div class="col-4"></div>
                </div>
                
      
              </form>
            </div>
          </div>
        </div>
      </section>
</body>
</html>