{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bootstrap.min.css' %}"
    />
    <!-- custom CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <!-- font NotoSans -->
    <head>
      <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet"
      />
    </head>
    <title>Sports Matching Platform</title>
  </head>
  <body>
    <!-- 네비게이션 바 -->
    {% include 'navbar.html' %}
    <!-- 내용 시작 -->
    {% block content %} 
    {% endblock %}
    <!-- 내용 끝 -->
    <!-- 푸터 -->
    {% include 'footer.html' %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
