{% load static %}
{% block content %}
<footer class="footer-box flex-row mt-5">
  <div class="container px-3 box-frame pb-4 border-bottom">
    <div class="row">
      <div class="col-6">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'img/stpLogo.png' %}" alt="logo_img" />
        </a>
      </div>
      <div class="col">
        <h1 class="fs-4 fw-bold text-white pb-4">About</h1>
        <div class="container p-0">
          <div class="row">
            <div class="col-12 my-1">
              <a class="footer-hover" href="#">스투파 소개</a>
            </div>
            <div class="col-12 my-1">
              <a class="footer-hover" href="#">이용약관</a>
            </div>
            <div class="col-12 my-1">
              <a class="footer-hover" href="#">개인정보처리방침</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <h1 class="fs-4 fw-bold text-white pb-4">FAQ</h1>
        <div class="container p-0">
          <div class="row">
            <div class="col-12 my-1">
              <a class="footer-hover" href="#">FAQ</a>
            </div>
            <div class="col-12 my-1">
              <a class="footer-hover" href="#">고객센터</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <a class="fs-4 fw-bold text-white" href="#">공지사항</a>
      </div>
    </div>
  </div>
  <div class="container px-3 pt-4">
    <div class="row">
      <div class="col-6">
      </div>
      <div class="col">
        <div class="container p-0">
          <div class="row sm-text">
            <div class="col-12">
              <span class="text-white-50">
                ㈜컬처메이커스_소개딩
              </span>
            </div>
            <div class="col-12 py-2">
              <span class="text-white-50">
                대동유지도
              </span>
            </div>
            <div class="col-12">
              <span class="text-white-50">
                강대원, 진동규, 김유정
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container p-0">
          <div class="row sm-text">
            <div class="col-12">
              <span class="text-white-50">
                주소: Naedong 30-1 in Nonsan, Chungnam
              </span>
            </div>
            <div class="col-12 py-2">
              <span class="text-white-50">
                이메일: daedongyou@gmail.com
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</footer>
{% endblock %}
