{% load static %}
{% block content %}
<footer class="footer-box flex-row mt-5">
  <div class="container-fluid box-frame py-3 border-bottom">
    <div class="row">
      <div class="col-3 ms-5">
        <h1 class="fs-5 fw-bold text-dark border-end border-3 border-dark">스투파(SportsToPartner)</h1>
      </div>
      <div class="col-2">
        <h1 class="ps-3 fs-5 fw-bold text-dark border-end border-3 border-dark">개인정보처리방침</h1>
      </div>
      <div class="col-2">
        <h1 class="ps-3 fs-5 fw-bold text-dark">이용약관</h1>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-6 ms-5">
        <div class="container p-0">
          <div class="row sm-text">
            <div class="col-12 py-2">
              <span class="fs-6 fw-bold text-dark-50">
                사업자 : (주) 스투파 | 대동여지도 (공동 사업자 : 강대원, 김유정, 진동규)
              </span>
            </div>
            <div class="col-12 py-2">
              <span class="fs-6 fw-bold text-dark-50">
                주소 :충청남도 논산시 내동 30-1 
              </span>
            </div>
            <div class="col-12 py-2">
              <span class="fs-6 fw-bold text-dark-50">
                문의처 : 041-730-5114 | daedongyou@gmail.com
              </span>
            </div>
            <div class="col-12 py-2">
              <span class="fs-7 text-dark-50">
                Copyrightⓒ SportToPartner All rights reserved
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container p-0">
          <div class="row sm-text">
            <div class="col-12 py-2">
              <span class="fs-6 fw-bold text-dark-50">
                고객센터 문의 안내
              </span>
            </div>
            <div class="col-12 py-2">
              <span class="fs-6 fw-bold text-dark-50">
                영업 시간 : 09:00 AM - 18 : 00 PM(주말 및 공휴일 휴무)
              </span>
            </div>
            <div class="col-12 py-2">
              <span class="fs-6 fw-bold text-dark-50">
                점심시간 ( 12:00 PM - 13:00 PM)
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
